# Python
__pycache__/
*.pyc
.env
.venv/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
.coverage.*
# Build
dist/
build/
workspace/
# OS
.DS_Store

#RepoIngestion
artifacts/

# Secrets & Configs
*.json
